html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

div {
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 25rem;
    aspect-ratio: 1/1;
    display: grid;
}

.row {
    display: flex;
}

.info {
    display: flex;
}

.cell {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.name {
    width: 5rem;
    height: 3rem;
}

#turn {
    width: 5rem;
    height: 3rem;
}

#result {
    width: 5rem;
    height: 3rem;
}